<!DOCTYPE html>
<html lang=""en">
<head>
	<meta charset="UTF-8">
	<!-- For Flask, static resources must be somewhere in the static directory. -->
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
	<title>Le Title</title>
</head>
<body>
	<h1>
		it me
	</h1>

	<!-- For Flask, static resources must be somewhere in the static directory. -->
	<img src="static/img/dinosaur.png" alt="a good dinosaur">

	<!-- Flask comes with Jinja -->
	<!-- This allows content in 2x curly brackets to be evaluated as Python code -->
	<p>Look behind you, it's a {{ 2 * 3 }}-headed monkey!</p>

	<!-- Jinja prioritizes 2x curly brackets over everything else! Even in comments! -->
	<h{{ 1+1 }}>this is in an h2 tag made by code!</h{{ 1+1 }}>

	<!-- You can make use of variables that are sent as kwargs to the render_template function. -->
	<p>On this run, the code sent us number {{ randomNumber }}.</p>

	<p><a href="{{ url_for('fizzbuzz') }}">Fizzbuzz using Flask and Jinja</a></p>
	<p><a href="{{ url_for('guessAge', name='Midori') }}">Guesses your age using an API</a></p>
	<p><a href="{{ url_for('stringPage') }}">A page made from a string, not an actual html file</a></p>
</body>
<footer>
	This page is copyrighted as of the current year, which is {{ currentYear }} in case you were wondering.
</footer>
</html>